extends layouts/main-layout.pug

block content 
    main 
        if prods.length > 0
            .grid
                each product in prods
                    article 
                        h2 #{product.title} 
                        img(src="https://rb.gy/4b4qkd", alt="book")
                        .cardContent
                            h4.price $19.99
                            p A very intresting book to read 
                        .action 
                            button Add to cart 
        else 
            h2 No product to display 
